/** @format */

.section-single {
  margin: 0 6%;
}

.top-section {
  justify-content: center;
}
.single-image {
  max-width: 100%;
  border-radius: 10px;
}

.top-content {
  padding-top: 15em;
  width: 65%;
}

.product-container {
  padding: 1em;
  margin-bottom: 7em;
  border-radius: 10px;
}

.image-container {
  margin: 1em;
  padding: 1em;
  margin: 0 auto;
  border-radius: 10px;
}
.single-image {
  border-radius: 10px;
}

.top-content {
  padding: 3em 3em 0em 3em;
}
.button-container-top {
  margin-top: 2.5em;
}
.mid-content {
  margin: 2em;
  border-top: 1px solid var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
}
.discription {
  margin: 1em;
  padding: 1em;
  border-top: 1px solid var(--clr-white);
}
.lower-content {
  border-top: 1px solid var(--clr-white);
}
.use-grid {
  margin: 1em;
  padding: 1em;
  border-top: 1px solid var(--clr-white);
}
.explane {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
  margin-top: 1em;
  padding: 1em;
}
.short-text-single {
  text-align: center;
}
.accordion-title-center {
  margin: 0.5em auto;
  text-align: center;
}

@media (max-width: 1250px) {
  .top-section {
    display: grid;
  }
  .product-container {
    margin-top: -3em;
  }
  .top-content {
    text-align: center;
    min-width: 100%;
    margin: 0 auto;
  }
  .mid-content {
    text-align: center;
  }
  .explane {
    display: grid;
  }
}
